body{
    background-color: rgb(30, 30, 94);
    overflow-y: hidden;
}
.para{
    color: white;
    margin-top: 50px;
    letter-spacing: 2px;
  text-align: center;
  transform: skewX(12deg);
}
.heading{
    color: white;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}
.btn1{
    display: flex;
    justify-content: center;
   
}
.btn{
    font-size: x-large;
    padding: 3px;
    margin-bottom: 40px;
    background-color: rgb(220, 174, 182);
    cursor: pointer;
}
.supmain{
    display: flex;
    justify-content: space-between;
}
.main{
    display: flex;
    margin-top: 100px;
    gap: 10px;
}
.item{
    background-color: gray;
    width: 33px;
    height: 300px;
}
#item1{
    height: 300px;
}
#item2{
    height: 250px;
    margin-top: 50px;
}
#item3{
    height: 150px;
    margin-top: 150px;
}

#item5{
    height: 180px;
    margin-top: 120px;
}
#item6{
    height: 100px;
    margin-top: 200px;
}
.box{
    width: 300px;
    height: 480px;
    background-color: lightpink;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 20px solid gray;
   

}
.box1{
    width: 200px;
    height: 50px;
    position: absolute;
    margin-top: -20px;
    margin-left: 50px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);

}
.modal{
    position: absolute;
    background-color: black;
    border-radius: 30px;
    color: white;
    width: 500px;
    height: 300px;
    margin-left: 500px;
    margin-top: 50px;
}
.content{
    margin-left: 40px;
    margin-top: 40px;
}

/* i am smit tiwari */