.row1{
    display: flex;
    justify-content: space-around;
    height: 20px;
}
.left1{
    background-color: green;
     width: 50%;
}
.right1{
    background-color: red; 
    width: 50%;
}